Repository ReactionMechanismGenerator/T3, pull requests merged in 2020-04, with the labels that each got.

#10 Docs
  docs/Makefile
  docs/source/api/index.rst
  docs/source/api/logger.rst
  docs/source/api/main.rst
  docs/source/api/t3.rst
  docs/source/api/utils.rst
  docs/source/cite.rst
  docs/source/conf.py
  docs/source/contribute.rst
  docs/source/credits.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/license.rst
  docs/source/links.txt
  docs/source/output.rst
  docs/source/release.rst
  docs/source/running.rst
  docs/source/t3.png
  tandem/utils.py
Labels: Type: Documentation

#14 Use the RMG source code instead of binaries for CI
  .travis.yml
  environment.yml
  requirements.txt
Labels: Topic: RMG, Type: Environment, Type: Testing

#15 Update installation instructions to include RMG-Py and RMG-database
  docs/source/installation.rst
Labels: Type: Documentation

#18 BugFix: Identation fix in main determine_species_to_calculate()
  tandem/main.py
Labels: Type: Bug

#19 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: Type: UX
