Repository ReactionMechanismGenerator/T3, pull requests merged in 2024-07, with the labels that each got.

#156 Updated CI and env
  .github/workflows/cont_int.yml
  environment.yml
  tests/test_fix_cantera.py
  tests/test_flux.py
  tests/test_simulate_adapters/test_cantera_constantHP.py
  tests/test_simulate_adapters/test_cantera_constantTP.py
  tests/test_simulate_adapters/test_cantera_constantUV.py
Labels: tests

#154 Improve parsing parameters from RMG SA csv files
  t3/common.py
  t3/main.py
  t3/simulate/cantera_constantHP.py
  t3/simulate/rmg_constantTP.py
  tests/test_common.py
Labels: Module main, Module common, Module simulate, tests

#151 Control rmg cpus
  examples/commented/input.yml
  t3/main.py
  t3/runners/rmg_runner.py
  t3/schema.py
  tests/test_main.py
Labels: Module main, Module schema, examples, tests

#153 Allow users to use a shared RMG library between different T3 projects
  examples/commented/input.yml
  t3/main.py
  t3/schema.py
  t3/simulate/rmg_constantTP.py
  t3/utils/libraries.py
  tests/test_libraries.py
  tests/test_main.py
  tests/test_schema.py
Labels: Module main, Module schema, Module simulate, examples, tests

#155 change save_edge in input to False as default
  examples/commented/input.yml
  t3/schema.py
  tests/test_main.py
  tests/test_writer.py
Labels: Module schema, examples, tests

#157 Use the exists_function (isfile or isdir) when checking RMG libs
  t3/main.py
Labels: Module main
